.columns{
    padding-bottom: 1rem;
}

.btns{
    margin-top: .5rem;
    padding-bottom: 20px;
    display: block;
    text-align: right;
}
.error{
    color: rgb(255, 0, 0);
    background-color: white;
    
}
.checkout{
    height: 10px;
}