<div class="container">
  <div style="display: flex; justify-content: center;">
    <h2>Reporting for Chest X-ray in the PA view:</h2>
  </div>
  <div>
    <h2 style="display: flex;align-items: center;">
      Patient Information <mat-icon>info</mat-icon>
    </h2>
  </div>
  <div class="mainForm">
  <form [formGroup]="registrationForm" style="width: 100%;">
    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-xs-3">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Enter First Name"
            type="text"
            formControlName="Fname"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>Last Name:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Enter Last Name"
            type="text"
            formControlName="Lname"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>UHID:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>UHID</mat-label>
          <input
            matInput
            placeholder="Enter ID"
            type="text"
            formControlName="uhid"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>Ref No:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>Ref. by</mat-label>
          <input
            matInput
            placeholder="Enter Reference No"
            type="text"
            formControlName="rNo"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 row-cols-xs-4">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input
            matInput
            placeholder="Enter Age"
            type="number"
            formControlName="age"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>Sex:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>Sex</mat-label>
          <input
            matInput
            placeholder="Enter Age/Sex"
            type="text"
            formControlName="sex"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>Mobile No:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>Mobile No.</mat-label>
          <input
            matInput
            placeholder="Enter Mobile No."
            type="text"
            formControlName="mobileNo"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <!-- <label>Reporting Director:</label> -->
        <mat-form-field appearance="outline">
          <mat-label>Reporting Director</mat-label>
          <input
            matInput
            placeholder="Enter Reporting Director"
            type="text"
            formControlName="director"
          />
          <!-- <mat-error>Enter your Full Name</mat-error> -->
        </mat-form-field>
      </div>
    </div>
  </form>
  </div>

  <div>
    <div>
        <h2>Lung Field:</h2>
    </div>
    <div>
        <!-- <app-lung-data></app-lung-data> -->
    </div>
  </div>

  <div>
    <div>
        <h2>Bilateral Pulmonary Hilum:</h2>
    </div>
    <div>
        <!-- <app-bilateral></app-bilateral> -->
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="onClick()">Proceed<mat-icon>done</mat-icon></button>
  </div>
</div>
